.flightDetails {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.flightDataDiv {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 0;
}

#airplane-seats {
	border: 1px solid black;
	padding: 10px;
	border-radius: 20px;
	padding-left: 15px;
}

.headerDiv {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.actionDiv {
	margin-top: 5%;
}

@media (max-width: 1080px){
	#flightImage {
		width: 400px;
		height: 270px;
	}
}

@media (min-width: 1080px){
	#flightImage {
		width: 600px;
		height: 400px;
	}
}

.flightReservationForm {
	border: 1px solid none;
	padding: 10px;
	border-radius: 5px;
	background-color: #F8FAFC;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.airplane-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	position: relative;
	width: 80%;
	max-width: 600px;
}

.airplane-shape {
	background-color: #f0f0f0;
	border: 2px solid #ccc;
	border-radius: 50px;
	position: relative;
	padding: 20px 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#airplane-seats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.seat {
	height: 20px;
	width: 20px;
	margin: 5px;
	border: 1px solid #333;
	border-radius: 4px;
	background-color: #fff;
}

.seat.occupied {
	background-color: #666;
	cursor: not-allowed;
}

.seat.available {
	background-color: #4CAF50;
	cursor: pointer;
}

.seat.selected {
	background-color: #0000ff;
	cursor:pointer;
}