@media (max-width:992px) {
	#navbar {
		padding: 1em;
	}
	
	#cartPhone {
		display: inline;
	}
	
	#cartPc {
		display: none;
	}
	
	#language-phone {
		display: inline;
	}
	
	#language-pc {
		display: none;
	}
}

@media (min-width:992px) {
	
	#cartPhone {
		display: none;
	}
	
	#cartPc {
		display: inline;
	}
	
	#language-phone {
		display: none;
	}
	
	#language-pc {
		display: inline;
	}
}

#language-bar {
	display: flex;
	justify-content: end;
}

#navbar {
	z-index: 10;
}