@media (max-width:992px) {
	#navbar {
		padding: 1em;
	}
	
	#cartPhone {
		display: inline;
	}
	
	#cartPc {
		display: none;
	}
}

@media (min-width:992px) {
	
	#cartPhone {
		display: none;
	}
	
	#cartPc {
		display: inline;
	}
}
