@media (min-width: 1080px) {
	.registerForm {
		width: 25%;
	}
}

@media (max-width: 1080px) {
	.registerForm {
		width: 100%;
	}
}

.registerFormDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#registerHeader {
	display: flex;
	justify-content: center;
}

#hideAlertButton {
	text-decoration:none;
	font-size: 15px;
}

#successAlert {
	display: flex;
	justify-content: space-between;
}