<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{airline.head}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	crossorigin="anonymous"></script>
<link href="/css/body.css" rel="stylesheet">
<link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
	<nav th:replace="~{fragments :: navbar}"></nav>
	<div class="form">
    <h1 th:text="#{flight.edit.head}"></h1>
	    <form method='Post' th:action="@{/flight/edit}" th:object="${flight}">
		  <div class="form-group">
		  	<input type="hidden" th:value="${flight.id}" name="id"> 
		    <label for="dateOfDeparture" th:text="#{flight.departureDate.lbl}"></label><br>
		    <input type="date" class="form-control" id="departureDatePicker" aria-describedby="dateOfDeparture" name="dateOfDeparture" th:value="${flight.dateOfDeparture}" required>
		  </div>
		  <p th:if="${departureDate} != null" style='color: red; font-size: 12px; margin: 0; padding: 0;' th:text="#{departure.date.validation.lbl}"></p>
		  
		  <div class="form-group">
		    <label for="timeOfDeparture" th:text="#{flight.departureTime.lbl}"></label><br>
		    <input type="time" class="form-control" id="departureTimePicker" aria-describedby="timeOfDeparture" name="timeOfDeparture" th:value="${flight.timeOfDeparture}" required>
		  </div>
		  <p th:if="${departureTime} != null" style='color: red; font-size: 12px; margin: 0; padding: 0;' th:text="#{departure.time.validation.lbl}"></p>
		  <div class="form-group">
		    <label for="duration" th:text="#{flight.duration.lbl}"></label><br>
		    <input type="number" class="form-control" id="durationInpt" aria-describedby="duration" th:placeholder="#{flight.duration.placeholder}" name="duration" th:value="${flight.duration} != null ? ${flight.duration} : 0" required>
		  </div>
		  <p th:if="${flightDuration} != null" style='color: red; font-size: 12px; margin: 0; padding: 0;' th:text="#{flight.duration.validation.lbl}" ></p>
		  <div class="form-group">
		    <label for="ticketPrice" th:text="#{flight.ticketPrice.lbl} + ' RSD'"></label><br>
		    <input type="number" class="form-control" id="priceInpt" aria-describedby="ticketPrice" th:placeholder="#{flight.ticketPrice.placeholder}" name="ticketPrice" th:value="${flight.ticketPrice} != null ? ${flight.ticketPrice} : 0" required>
		  </div>
		  <p th:if="${ticketPrice} != null" style='color: red; font-size: 12px; margin: 0; padding: 0;' th:text="#{ticket.price.validation.lbl}"></p>
		  <br>
		  <div>
		  	<a class="btn btn-secondary" th:href="@{/flight/details?id={flightId}(flightId=${flight.id})}" th:text="#{go.back.btn}"></a>
		  	<button type="submit" class="btn btn-primary" th:text="#{flight.edit.btn}"></button>
		  </div>
		</form>
    </div>
    <script src="/js/flight-edit.js"></script>
</body>
</html>
