<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rizzair</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	crossorigin="anonymous"></script>
<link href="/css/body.css" rel="stylesheet">
<link href="/css/navbar.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
</head>
<div class="modal fade" id="flightDiscount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{flight.discount.model.header}"></h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="mb-3">
          	<input type="hidden" name="flightId" id="selectedFlightField">
            <label for="discountPercentage" class="form-label" th:text="#{discount.percentage.label}"></label>
            <input
              type="number"
              class="form-control"
              id="discountPercentage"
              name="discountPercentage"
              min="0"
              max="100"
              th:placeholder="#{percentage.placeholder}"
            />
           	<label id="discountPercentageValidation" style="display:none;color:red;" th:text="#{percentage.validation}"></label>
          </div>
          <div class="mb-3">
            <label for="endDate" class="form-label" th:text="#{discount.end.date.label}"></label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              name="endDate"
            />
            <label id="endDateValidation" style="display:none;color:red;" th:text="#{end.date.validation}"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" th:text="#{cancel.btn}"></button>
          <button type="button" class="btn btn-dark" th:text="#{submit.btn}" id="discountFormSubmitBtn"></button>
        </div>
    </div>
  </div>
</div>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>
<div class="form">
	  <div class="container search-bar-container mt-0 mb-3 w-100">
	  <div class="d-flex justify-content-center">
	  	  <h2 th:text="#{index.head}"></h2>
	  </div>
	    <form class="search-bar" method="POST" action="search">
	      <div class="row gy-2 gx-3 align-items-center">
	        <div class="col-12 col-md-3">
	          <input type="text" class="form-control" name="departure" th:placeholder="#{search.bar.departure.ph}" th:value="${session.departureSearch}" th:if="${session.searchInitialized} != null">
	          <input type="text" class="form-control" name="departure" th:placeholder="#{search.bar.departure.ph}" th:unless="${session.searchInitialized} != null">
	        </div>
	        <div class="col-12 col-md-3">
	          <input type="text" class="form-control" name="destination" th:placeholder="#{search.bar.destination.ph}" th:value="${session.destinationSearch}"  th:if="${session.searchInitialized} != null">
	          <input type="text" class="form-control" name="destination" th:placeholder="#{search.bar.destination.ph}" th:unless="${session.searchInitialized} != null">
	        </div>
	        <div class="col-12 col-md-3">
	          <input type="date" class="form-control" name="dateOfDeparture" id="departureDateField" th:if="${session.searchInitialized} != null" th:value="${session.dateOfDepartureSearch}">
	          <input type="date" class="form-control" name="dateOfDeparture" id="departureDateField" th:unless="${session.searchInitialized} != null">
	        </div>
	        <div class="col-12 col-md-2">
	          <input type="number" class="form-control" name="numberOfSeats" th:placeholder="#{search.bar.passengers.ph}" min="1" th:value="${session.numberOfSeatsSearch}" th:if="${session.searchInitialized} != null">
	          <input type="number" class="form-control" name="numberOfSeats" th:placeholder="#{search.bar.passengers.ph}" min="1" th:unless="${session.searchInitialized} != null">
	        </div>
	        <div class="col-12 col-md-1 d-flex justify-content-center">
	          <button type="submit" class="btn w-100" th:text="#{search.bar.btn}"></button>
	        </div>
 	        <div>
 	        	<input type="checkbox" name="similarFlights" th:if="${session.searchInitialized} != null" th:checked="${session.similarFlightsSearch}">
	        	<label th:text="#{similar.flights.search}"></label>
	        </div>
	      </div>
	    </form>
	  </div>
	<div class="content-body" th:if="${flights} != null">
		<div class="card m-3" style="width: 20rem;" th:each="flight, iter : ${flights}">
			  	<img src="/images/flight-pic.jpg" class="card-img-top" alt="" th:if="${flight.destination.location.decodedImage} == null" style="height:200px;">
			  	<img th:src="${flight.destination.location.decodedImage}" class="card-img-top" alt="" th:unless="${flight.destination.location.decodedImage} == null" style="height:200px;">
			<div class="card-body">
			    <h5 class="card-title" th:text="${flight.departure.code} + '-' + ${flight.destination.code}"></h5>
			    <p th:text="${flight.dateOfDeparture} + ' | ' + ${flight.timeOfDeparture}"></p>
			    <div class="d-flex justify-content-space-around flex-column p-1">
			    	<span th:if="not ${flight.onDiscount}" class="fw-bold pe-4 pt-1" th:text="${flight.ticketPrice} + '0 RSD ' + #{per.seat}"></span>
			    	<span th:if="${flight.onDiscount}" class="fw-bold pe-4 pt-1" style="text-decoration:line-through;" th:text="${flight.ticketPrice} + '0 RSD ' + #{per.seat}"></span>
			    	<span th:if="${flight.onDiscount}" class="fw-bold pe-4 pt-1" style="color:red;" th:text="(${flight.ticketPrice} * (1 - (${flight.discount.discountPercentage} / 100.0))) + '0 RSD ' + #{per.seat}"></span>
			    	<div th:if="${session.loggedIn} != null and ${session.loggedIn.Role.name()} == 'Admin'" class="d-flex flex-row">
				    	<button class="btn btn-primary mt-1 w-50 addDiscountBtn" th:attr="flightId=${flight.id}" th:text="#{add.discount}" data-bs-target="#flightDiscount" data-bs-toggle="modal" th:if="not ${flight.onDiscount}"></button>
			    		<a th:href="@{/flight/details?id={flightId}(flightId=${flight.id})}" class="btn btn-primary mt-1 me-1 ms-1 w-50" th:if="not ${flight.onDiscount}"><i class="bi bi-info-circle"></i></a>
			    		<a th:href="@{/flight/details?id={flightId}(flightId=${flight.id})}" class="btn btn-primary mt-1 me-1 ms-1 w-100" th:if="${flight.onDiscount}"><i class="bi bi-info-circle"></i></a>
			    	</div>
			    	<a th:if="${session.loggedIn} == null or ${session.loggedIn.Role.name} != 'Admin'" th:href="@{/flight/details?id={flightId}(flightId=${flight.id})}" class="btn btn-primary mt-1 w-100"><i class="bi bi-info-circle"></i></a>
			    </div>
		    </div>
		</div>
	</div>
	<div class="content-body d-flex justify-content-center flex-column mt-4" th:unless="${flights} != null">
		<h3 th:text="#{no.flights.found.search.msg}" style="text-align:center"></h3>
		<div class="d-flex justify-content-center flex-column align-items-center mt-4">
			<h1 th:text="#{connected.flights.head}"></h1>
			<div class="d-flex align-items-center flex-column m-2 p-2" th:each="connection, iter : ${flightConnections}"  style="border-radius:20px; box-shadow:2px 2px 2px 2px rgb(0,0,0,0.2)">
				<h3 th:text="#{option}  + '  ' + ${iter.index + 1}"></h3>
				<div class="content-body">
					<div class="card m-3" style="width: 20rem;" th:each="flight : ${connection}">
					  	<img src="/images/flight-pic.jpg" class="card-img-top" alt="" th:if="${flight.destination.location.decodedImage} == null" style="height:200px;">
					  	<img th:src="${flight.destination.location.decodedImage}" class="card-img-top" alt="" th:unless="${flight.destination.location.decodedImage} == null" style="height:200px;">
						<div class="card-body">
						    <h5 class="card-title" th:text="${flight.departure.code} + '-' + ${flight.destination.code}"></h5>
						    <p th:text="${flight.dateOfDeparture} + ' | ' + ${flight.timeOfDeparture}"></p>
						    <div class="d-flex justify-content-space-around flex-column p-1">
						    	<span th:if="not ${flight.onDiscount}" class="fw-bold pe-4 pt-1" th:text="${flight.ticketPrice} + '0 RSD ' + #{per.seat}"></span>
						    	<span th:if="${flight.onDiscount}" class="fw-bold pe-4 pt-1" style="text-decoration:line-through;" th:text="${flight.ticketPrice} + '0 RSD ' + #{per.seat}"></span>
						    	<span th:if="${flight.onDiscount}" class="fw-bold pe-4 pt-1" style="color:red;" th:text="(${flight.ticketPrice} * (1 - (${flight.discount.discountPercentage} / 100.0))) + '0 RSD ' + #{per.seat}"></span>
						    	<a th:if="${session.loggedIn} == null or ${session.loggedIn.Role.name} != 'Admin'" th:href="@{/flight/details?id={flightId}(flightId=${flight.id})}" target='_blank' class="btn btn-primary mt-1 w-100"><i class="bi bi-info-circle"></i></a>
						    </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="/js/index.js"></script>
</body>
</html>
