<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit location</h1>
    
    <!-- Error message if status is 'error' -->
    <p th:if="${status} != null" style='color:red'>Error while editing location</p>

    <form method='Post' th:if="${location.id} != null" th:action='@{/location/edit?id={locationId}(locationId=${location.id})}'>
        <label>City:</label><br>
        <input type="text" name="city" th:value="${location.city}"><br>
        <p th:if="${city} != null" style='color:red;font-size:12px;margin:0;padding:0;'>City must contain at least 3 characters</p>

        <label>Country:</label><br>
        <input type="text" name="country" th:value="${location.country}"><br>
        <p th:if="${country} != null" style='color:red;font-size:12px;margin:0;padding:0;'>Country must contain at least 3 characters</p>

        <label>Continent:</label><br>
        <select name="continent">
        	<option th:each="continentIt : ${continents}" th:selected="${continentIt == location.continent}" th:text="${continentIt}">
        </select><br>
        <button type='submit'>Save changes</button>
    </form>

    <a th:href='@{/location/details?id={locationId}(locationId=${location.id})}'>Go back</a>
</body>
</html>
