<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin="anonymous">
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
	<link href="/css/body.css" rel="stylesheet">
	<link href="/css/log-in.css" rel="stylesheet">
	<link href="/css/navbar.css" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>
<div class="form">
<div class="alert alert-success alert-dismissible fade show w-100 z - 0" id="successAlert" role="alert" th:if="${register} != null and ${register} == 'success'" >
 	<span th:text="#{register.success.alert}"></span>
 		<a class="close" href="#" data-bs-dismiss="alert" aria-label="Close" id="hideAlertButton">
   		<span aria-hidden="true">&times;</span>
		</a>
</div>
<div class="alert alert-danger alert-dismissible fade show w-100 z - 0" id="successAlert" role="alert" th:if="${login} != null and ${login} == 'fail'" >
 	<span th:text="#{log.in.fail.msg}"></span>
 		<a class="close" href="#" data-bs-dismiss="alert" aria-label="Close" id="hideAlertButton">
   		<span aria-hidden="true">&times;</span>
		</a>
</div>
<div class="alert alert-danger alert-dismissible fade show w-100 z - 0" id="successAlert" role="alert" th:if="${blocked} != null and ${blocked} == 'true'" >
 	<span th:text="#{auth.blocked.msg}"></span>
 		<a class="close" href="#" data-bs-dismiss="alert" aria-label="Close" id="hideAlertButton">
   		<span aria-hidden="true">&times;</span>
		</a>
</div>
<div class="logInFormDiv">
	<h1 id="loginHeader" th:text="#{log.in.head}">Log in</h1>
	<form method="POST" action="/auth/login" class="logInForm">
	  <div class="form-group formDivs">
	    <label for="username" th:text="#{log.in.username.lbl}">Username: </label>
	    <input type="text" class="form-control" id="username" th:placeholder="#{log.in.username.placeholder}" name="username">
	  </div>
	  <div class="form-group formDivs">
	    <label for="password" th:text="#{log.in.password.lbl}">Password: </label>
	    <input type="password" class="form-control" id="password" th:placeholder="#{log.in.password.placeholder}" name="password">
	  </div>
	  <div class="form-group formDivs">
	  	<span th:text="#{log.in.dont.have.acc}">You don't have an account yet?  </span><a href="/user/register" style="color:black" th:text="#{register.here}">Register here</a>
	  </div>
	  <button type="submit" class="btn btn-dark" th:text="#{log.in.btn}">Log in</button>
	</form>
</div>
</div>
</body>
</html>