<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	crossorigin="anonymous"></script>
<link href="/css/body.css" rel="stylesheet">
<link href="/css/register.css" rel="stylesheet">
<link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
	<nav th:replace="~{fragments :: navbar}"></nav>
	<div class="form">
		<div class="registerFormDiv">
			<div>	    	
				<h2 id="registerHeader" th:text="#{register.head}"></h2>
			</div>
			<div class="registerForm">
				<form method="POST" th:action="@{/user/register}" th:object="${user}">
				  <div class="form-group">
				    <label for="firstName" th:text="#{register.first.name}"></label>
				    <input type="text" class="form-control m-0" id="firstName" aria-describedby="firstName" th:placeholder="#{register.first.name.placeholder}" name="firstName" th:value="${user.firstName}">
				    <p th:if="${firstName} != null"style='color:red;font-size:12px;margin:0;padding:0;' th:text="#{first.name.validation}"></p>
				  </div>
				  <div class="form-group">
				    <label for="lastName" th:text="#{register.last.name}"></label>
				    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" th:placeholder="#{register.last.name.placeholder}" name="lastName" th:value="${user.lastName}">
			        <p th:if="${lastName} != null" style='color:red;font-size:12px;margin:0;padding:0;'th:text="#{last.name.validation}"></p>
				  </div>
				  <div class="form-group">
				    <label for="dateOfBirth" th:text="#{register.dob}"></label>
				    <input type="date" class="form-control" id="dateOfBirth" aria-describedby="dateOfBirth" th:placeholder="#{register.dob.placeholder}" name="dateOfBirth" required>
				  </div>
				  <div class="form-group">
				    <label for="email" th:text="#{register.email}"></label>
				    <input type="email" class="form-control" id="email" aria-describedby="email" th:placeholder="#{register.email.placeholder}" name="email" th:value="${user.email}">
				    <small id="emailHelp" class="form-text text-muted" th:text="#{email.notice}"></small>
				    <p th:if="${email} != null"style='color:red;font-size:12px;margin:0;padding:0;' th:text="#{email.validation}"></p>
				  </div>
				  <div class="form-group">
				    <label for="lastName" th:text="#{register.username}"></label>
				    <input type="text" class="form-control mb-0" id="username" aria-describedby="username" th:placeholder="#{register.username.placeholder}" name="username" th:value="${user.username}">
		        	<p th:if="${username} == 'failure'" style='color:red;font-size:12px;margin:0;padding:0;' th:text="#{username.validation1}"></p>
		        	<p th:if="${username} == 'exists'" style='color:red;font-size:12px;margin:0;padding:0;' th:text="#{username.validation2}"></p>
				  </div>
				  <div class="form-group">
				    <label for="password" th:text="#{register.password}"></label>
				    <input type="password" class="form-control" id="password" th:placeholder="#{register.password.placeholder}" name="password">
		        	<p th:if="${password} != null" style='color:red;font-size:12px;margin:0;padding:0;' th:text="#{password.validation}"></p>
				  </div>
				  <div>
				  	<span th:text="#{register.have.acc}">  </span><a href="/auth/login" style="color:black" th:text="#{register.log.in.link}"></a>
				  </div>
				  <button type="submit" class="btn btn-dark mt-3" th:text="#{register.btn}"></button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
