<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rizzair</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	crossorigin="anonymous"></script>
<link href="/css/body.css" rel="stylesheet">
<link href="/css/navbar.css" rel="stylesheet">
<link href="/css/shopping-cart.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>
<div class="form">
<div class="alert alert-danger alert-dismissible fade show w-100" id="errorAlert" role="alert" th:if="${status} != null and ${status} == 'error'" >
	 <span th:text="#{cart.increment.error}"></span>
  	<a class="close" href="#" data-bs-dismiss="alert" aria-label="Close" id="hideAlertButton">
    	<span aria-hidden="true">&times;</span>
 	</a>
</div>
<div class="container my-5" th:if="${session.ShoppingCart} != null">
    <h1 class="text-center mb-4" th:text="#{cart.head}"></h1>
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <th th:text="#{product.lbl}"></th>
            <th th:text="#{seat.lbl}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${session.ShoppingCart.items}">
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://via.placeholder.com/80" alt="Product Image" class="me-3">
                    <div>
                        <h6 class="mb-1" th:text="${ticket.flight.departure.code} + '-' + ${ticket.flight.destination.code}"></h6>
                        <p th:if="not ${ticket.flight.onDiscount}" class="mb-0" th:text="${ticket.flight.ticketPrice} + ' RSD'"></p>
                        <p th:if="${ticket.flight.onDiscount}" style="text-decoration:line-through" class="mb-0" th:text="${ticket.flight.ticketPrice} + ' RSD'"></p>
                        <p th:if="${ticket.flight.onDiscount}" style="color:red;" class="mb-0 fw-bold" th:text="(${ticket.flight.ticketPrice} * (1 - (${ticket.flight.discount.discountPercentage} / 100.0))) + ' RSD'"></p>
                        <a th:href="@{/cart/remove?id={itemId}(itemId=${ticket.id})}" class="remove-link" th:text="#{cart.remove.btn}"></a>
                    </div>
                </div>
            </td>
            <td>
            	<span><strong th:text="#{seat.column.cart.lbl}"></strong><span th:text="${ticket.columnNumber}"></span></span><br>
            	<span><strong th:text="#{seat.row.cart.lbl}"></strong><span th:text="${ticket.rowNumber}"></span></span>
<!--            	
@{/cart/remove?id={cartItemId}(cartItemId=${entry.key.id})}
			   <input type="hidden" th:value="${entry.key.id}" id="item-id">
            	<span class="quantity-container">
            		<a th:href="@{/cart/decrement?id={key}(key=${entry.key.id})}">-</a>
            		<span th:text="${entry.value}"></span>
            		<a th:href="@{/cart/increment?id={key}(key=${entry.key.id})}">+</a>
            	</span>-->
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
		<div class="d-flex justify-content-center flex-column align-items-center" th:if="${session.loggedIn.loyaltyCard} != null">
			<span style="font-size:20px;"><strong th:text="#{loyalty.card.balance.lbl}"></strong><span th:text="' ' + ${session.loggedIn.loyaltyCard.points}" id="balance"></span></span>
			<i style="color:gray;" th:text="#{loyalty.card.note}"></i>
		    <div>
		    	<div class="d-flex align-items-center justify-content-end mt-3">
				    <button class="btn btn-dark px-3 py-1" style="width: 50px; height: 40px;" id="subtract-point">
				        <i class="bi bi-dash"></i>
				    </button>
				    <input type="number" min="0" max="7" readonly class="form-control mx-1" style="width: 60px; height: 40px; text-align:center;" th:value='0' id="points-field">
				    <button class="btn btn-dark px-3 py-1" style="width: 50px; height: 40px;" id="add-point">
				        <i class="bi bi-plus"></i>
				    </button>
			    </div>
			    <div class="d-flex justify-content-center mt-3">
			    	<button class="btn btn-dark" id="submit-discount-btn" th:text="#{submit.discount.btn}"></button>
			    </div>
		    </div>
		</div>
        <p class="summary-row summary mt-3" style="font-size:20px;" th:text="#{total.price} + '  ' + ${session.ShoppingCart.totalPrice} + '0 RSD'" id="price-lbl"></p>
        <a class="btn btn-dark" th:text="#{confirm.reservation}" href="#"></a>
    </div>
</div>
<div class="container my-5" th:unless="${session.ShoppingCart} != null">
	<h1 th:text="#{cart.empty.msg}"></h1>
	<a th:text="#{back.to.index}" href="/"></a>
</div>
</div>
<script src="/js/shopping-cart.js"></script>
</body>
</html>
